.aboutUs{
    font-family: freight-display-pro,serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.firstp{
    width: 40vw;
    font-family: freight-display-pro,serif;
    font-style: normal;
    font-weight: 400;
    font-size:18px;
    align-items: center;
}

.phla{
    width: 35vw;
    height: 40vh;
 
}