.container{
    margin-top: 20px;
    display: flex;
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.NameProduct{
    font-size: 26px;
    color: #333;
    font-weight: 400;
    line-height: 30px;
    margin-top: 200px;
    
    overflow: hidden;
}
.ProductHeading{
    margin-left: web-kit;
    text-align: -webkit-center;
    
    font-family: 'Open Sans',sans-serif;

}
.ProductImage{
   

}
.info{
    padding-left: 20px;
    width: calc(100% - 400px);
    box-sizing: border-box;
    background-color: rgb(231, 218, 231);
}

.pdName{
    font-size: 20px;
    font-weight: 400;
    color: rgb(196, 2, 196);
    margin-bottom: 7px;
    line-height: 25px;

}
h2{
    overflow: hidden;
}